.Phone-Table {
    width: 100%;
    border-spacing: 0;
}
.Phone-Table thead {
    padding: 0.4rem;
    background: #c7a900;
    color: #f3f8f5;
}
.Phone-Table thead td {
    padding: 0.8rem 1rem;
}
.Phone-Table tbody tr {
    transition: 300ms ease;
}
.Phone-Table tbody tr:hover {
    background: #f3f8f5;
}
.Phone-Table tbody td {
    border-bottom: 2px solid #f3f8f5 !important;
}
.Phone-Table tbody td:first-child {
    display: flex;
    align-items: center;
}
.Phone-Table td {
    padding: 0.6rem 1rem;
}
.Avatarpeoples {
    height: 30px;
    width: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #45ddbf 33;
    color: #03233f;
    border-radius: 40px;
    font-size: 20px;
    margin: 2px 15px;
}
