.Peopleslist-Middle {
    display: flex;
}
.Peopleslist-Middle-L {
    width: 200px;
}
.Peopleslist-Middle-L img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
}
.Peopleslist-Middle-R {
    padding: 10px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
}
.Peopleslist-Middle-R-B {
    display: flex;
    flex-direction: row;
}
.Peopleslist-Middle-R-B button {
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    color: #c7a900;
    background: transparent;
    border: 0px;
    transition: 500ms ease;
}
.Peopleslist-Middle-R-B button:hover {
    opacity: 0.7;
}
.Peopleslist-Middle-R-B button .mdi {
    font-size: 20px;
    font-weight: bold;
}
.Peopleslist-Bottom {
    padding: 10px 0;
}
.Peopleslist-Det {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0px;
}
.Peopleslist-Det .mdi {
    margin-right: 10px;
    font-size: 32px;
    color: black;
}
.Peopleslist-Det-A {
    display: block;
}
.Peopleslist-Det-A-L {
    opacity: 0.5;
}
