.Header-Containter {
    background: #f3f3f3;
    padding: 0.6rem 20px;
}
.Header-Containter-H {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    vertical-align: middle;
    max-height: 50px;
    max-width: 997px;
    margin: auto;
}
.Header-Logo {
    padding: 2px;
}
.Header-Logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 50px;
}
.Header-Dropdown button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: transparent;
    border: 0px;
    justify-content: space-between;
    cursor: pointer;
}
.Header-Dropdown button:focus {
    outline: none;
}
.Header-Dropdown .Name {
    padding: 5px;
    text-transform: capitalize;
}
.Header-Dropdown .Carret {
    color: #c7a900;
}
