.background-Contents {
    display: block;
    margin: auto;
    padding: 1rem 10px;
    min-height: calc(100vh - 50px - 50px - 4rem);
}
@media (min-width: 600px) {
    .background .background-Contents {
        max-width: 60%;
   }
}
