.CForm {
    max-width: 500px;
}
.CForm-Top {
    min-height: 30px;
    padding: 0.5rem 0;
}
.CForm-Aside {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.CForm-Aside-Left {
    width: 180px;
    height: 180px;
}
.CForm-Aside-Right {
    padding-left: 20px;
    height: 100%;
    width: 100%;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group{
    display: block;
    width: 100%;
    margin: 10px 0;
}
.input-group label{
    font-size: 10px;
    opacity: 0.6;
    margin: 0px;
    display: block;
}
.input-group input{
    padding: 10px;
    border-radius: 4px;
    border-width: 0px;
    border-bottom-width: 2px;
    border-color: black;
}

.input-group input:focus{
    outline: none;
}