@import url('https://fonts.googleapis.com/css?family=Poppins:300,400&display=swap');
 body {
	 margin: 0;
	 font-family: 'Poppins', sans-serif;
	 -webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: grayscale;
	 margin: 0px;
	 padding: 0px;
	 background: #fff;
	 font-size: 13px;
}
 * {
	 font-family: 'Poppins', sans-serif;
}
 code {
	 font-family: 'Poppins', sans-serif;
}
 .txt-primary {
	 color: #c7a900;
}
 .txt-light {
	 color: #fff;
}
 .display-1 {
	 font-weight: lighter;
	 font-size: 23px;
}
 .space-v {
	 display: block;
}
 .space-v-md {
	 height: 2rem;
}
 .space-v-sm {
	 height: 1rem;
}
 button {
	 cursor: pointer;
	 border-radius: 2px;
}
 button:focus {
	 outline: none;
}
 button:hover {
	 transition: 500ms ease;
}
 button.btn-md {
	 padding: 0.6rem 2rem;
}
 button.btn-md .mdi * {
	 font-size: 16px;
}
 button.btn-primary {
	 color: #ece4e4;
	 background: #c7a900;
	 border-width: 0px;
}
 button.btn-primary:hover {
	 background: #7a6800;
}
 